nav{
    display:flex;
    justify-content: flex-start;
    background-color: darkgoldenrod;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}


.child {


    color: lightpink;
    background-color: lightyellow;
    width: 300px;
    min-height: 300px;  
}

.parent {
    display: flex;
    /* horizontal */
    justify-content: center;
    /* vertical */
    align-items: center;
    gap: 10px;
    background-color: lightslategrey;
    min-height: 500px;
}

/* when we flex an element, it becomes a flex container, it's children become flex items */